In [101]:
modeling_data.sample(5)

,group_id,sub_line,area,days,begin_date,price,order_id,order_date,source_1,source_2,...,o_month,o_year,o_day,order_month,order_year,order_day,begin_month,begin_year,begin_day,deal_or_not
24800,51328,subline_value_22,area_value_132,11.0,2017-05-25,64900.0,176942,2017-02-22,src1_value_1,src2_value_1,...,2,2017,22,2,2017,22,5,2017,25,1
10925,63682,subline_value_19,area_value_118,5.0,2017-12-07,30300.0,41147,2017-11-07,src1_value_1,src2_value_1,...,11,2017,7,11,2017,7,12,2017,7,1
6113,18214,subline_value_19,area_value_118,5.0,2017-02-07,19999.0,108244,2017-01-03,src1_value_1,src2_value_1,...,1,2017,3,1,2017,3,2,2017,7,0
9154,44871,subline_value_19,area_value_118,5.0,2017-07-16,25500.0,54360,2017-06-10,src1_value_2,src2_value_3,...,6,2017,10,6,2017,10,7,2017,16,0
12238,47775,subline_value_19,area_value_118,6.0,2017-10-04,18999.0,163146,2017-09-28,src1_value_2,src2_value_1,...,9,2017,28,9,2017,28,10,2017,4,1

In [103]:
#airline['group_id'].value_counts()

#feature_data['group_id'].value_counts()

print(airline.loc[airline['group_id'] == "35175"])

print('-------------------------------------------')

#print(modeling_data.loc[modeling_data['group_id'] == "35175"])

#將airline切分為去程資料與回程資料/還是把它做long/wide data 的轉換


# change from long to wide
#print(airline.pivot('group_id','go_back','src_airport'))

#airline.loc[airline['group_id'] == "35175"].pivot(values = 'src_airport', index = 'group_id', columns = 'go_back')
#airline.pivot(values= 'src_airport',index = 'group_id',columns = 'go_back')

airline[['group_id','go_back','src_airport']]


airline[['group_id','go_back','src_airport']].stack()

      group_id go_back            fly_time     src_airport  \
71297    35175      去程 2017-02-05 22:05:00        TPE 桃園機場
71298    35175      回程 2017-02-14 01:45:00  IST 伊斯坦堡阿塔圖克機場

              arrive_time     dst_airport go_back_recode fly_month fly_year  \
71297 2017-02-06 05:00:00  IST 伊斯坦堡阿塔圖克機場              0         2     2017
71298 2017-02-14 18:30:00        TPE 桃園機場              1         2     2017

      fly_day src_airport_recode arrive_month arrive_year arrive_day
71297       5                TPE            2        2017          6
71298      14                IST            2        2017         14
-------------------------------------------

,group_id,go_back,fly_time,src_airport,arrive_time,dst_airport,go_back_recode,fly_month,fly_year,fly_day,src_airport_recode,arrive_month,arrive_year,arrive_day
0,63695,去程,2017-03-22 23:30:00,TPE 桃園機場,2017-03-22 14:15:00,HNL 檀香山機場,0,3,2017,22,TPE,3,2017,22
2,53481,去程,2017-05-17 23:00:00,TPE 桃園機場,2017-05-17 14:45:00,HNL 檀香山機場,0,5,2017,17,TPE,5,2017,17
4,54305,去程,2017-06-21 23:30:00,TPE 桃園機場,2017-06-21 14:15:00,HNL 檀香山機場,0,6,2017,21,TPE,6,2017,21
6,41766,去程,2017-07-12 23:00:00,TPE 桃園機場,2017-07-12 14:45:00,HNL 檀香山機場,0,7,2017,12,TPE,7,2017,12
8,32196,去程,2017-08-09 23:00:00,TPE 桃園機場,2017-08-09 14:45:00,HNL 檀香山機場,0,8,2017,9,TPE,8,2017,9
10,25423,去程,2017-09-27 23:30:00,TPE 桃園機場,2017-09-27 14:15:00,HNL 檀香山機場,0,9,2017,27,TPE,9,2017,27
12,25705,去程,2017-12-13 23:30:00,TPE 桃園機場,2017-12-13 14:15:00,HNL 檀香山機場,0,12,2017,13,TPE,12,2017,13
14,44047,去程,2017-11-22 23:30:00,TPE 桃園機場,2017-11-22 14:15:00,HNL 檀香山機場,0,11,2017,22,TPE,11,2017,22
16,21406,去程,2017-10-11 23:30:00,TPE 桃園機場,2017-10-11 14:15:00,HNL 檀香山機場,0,10,2017,11,TPE,10,2017,11
18,63785,去程,2017-01-07 23:50:00,TPE 桃園機場,2017-01-07 19:25:00,LAX 洛杉機機場,0,1,2017,7,TPE,1,2017,7
20,10206,去程,2017-01-13 23:30:00,TPE 桃園機場,2017-01-13 20:20:00,SFO 舊金山機場,0,1,2017,13,TPE,1,2017,13
22,50170,去程,2017-01-13 23:50:00,TPE 桃園機場,2017-01-13 19:25:00,LAX 洛杉機機場,0,1,2017,13,TPE,1,2017,13
24,16879,去程,2017-01-14 11:50:00,TPE 桃園機場,2017-01-14 06:20:00,SEA 西雅圖機場,0,1,2017,14,TPE,1,2017,14
26,48758,去程,2017-01-19 23:30:00,TPE 桃園機場,2017-01-19 20:20:00,SFO 舊金山機場,0,1,2017,19,TPE,1,2017,19
28,35554,去程,2017-01-19 17:00:00,TPE 桃園機場,2017-01-19 12:40:00,LAX 洛杉機機場,0,1,2017,19,TPE,1,2017,19
30,39125,去程,2017-01-20 23:30:00,TPE 桃園機場,2017-01-20 18:30:00,SFO 舊金山機場,0,1,2017,20,TPE,1,2017,20
32,16050,去程,2017-01-20 23:30:00,TPE 桃園機場,2017-01-20 18:30:00,SFO 舊金山機場,0,1,2017,20,TPE,1,2017,20
34,52192,去程,2017-01-20 23:40:00,TPE 桃園機場,2017-01-20 18:40:00,SFO 舊金山機場,0,1,2017,20,TPE,1,2017,20
36,21969,去程,2017-01-21 11:20:00,TPE 桃園機場,2017-01-21 06:50:00,LAX 洛杉機機場,0,1,2017,21,TPE,1,2017,21
38,12436,去程,2017-01-21 23:40:00,TPE 桃園機場,2017-01-21 18:10:00,SEA 西雅圖機場,0,1,2017,21,TPE,1,2017,21
40,13894,去程,2017-01-22 11:20:00,TPE 桃園機場,2017-01-22 06:50:00,LAX 洛杉機機場,0,1,2017,22,TPE,1,2017,22
42,31982,去程,2017-01-23 23:40:00,TPE 桃園機場,2017-01-23 18:10:00,SEA 西雅圖機場,0,1,2017,23,TPE,1,2017,23
44,53664,去程,2017-01-23 23:40:00,TPE 桃園機場,2017-01-23 18:40:00,SFO 舊金山機場,0,1,2017,23,TPE,1,2017,23
46,39320,去程,2017-01-25 23:40:00,TPE 桃園機場,2017-01-25 18:40:00,SFO 舊金山機場,0,1,2017,25,TPE,1,2017,25
48,58928,去程,2017-01-26 23:30:00,TPE 桃園機場,2017-01-26 18:30:00,SFO 舊金山機場,0,1,2017,26,TPE,1,2017,26
50,47108,去程,2017-01-26 17:00:00,TPE 桃園機場,2017-01-26 12:40:00,LAX 洛杉機機場,0,1,2017,26,TPE,1,2017,26
52,14386,去程,2017-01-27 10:10:00,TPE 桃園機場,2017-01-27 07:40:00,LAX 洛杉機機場,0,1,2017,27,TPE,1,2017,27
54,21973,去程,2017-01-27 10:10:00,TPE 桃園機場,2017-01-27 07:40:00,LAX 洛杉機機場,0,1,2017,27,TPE,1,2017,27
56,18217,去程,2017-01-27 23:40:00,TPE 桃園機場,2017-01-27 18:40:00,SFO 舊金山機場,0,1,2017,27,TPE,1,2017,27
58,10170,去程,2017-01-28 23:30:00,TPE 桃園機場,2017-01-28 18:30:00,SFO 舊金山機場,0,1,2017,28,TPE,1,2017,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104215,1abf7b1d8c3dab80c8b5b9081232f02c,去程,2018-09-19 21:55:00,TPE 桃園機場,2018-09-20 05:10:00,IST 伊斯坦堡阿塔圖克機場,0,9,2018,19,TPE,9,2018,20
104217,28b446ac8e7beb73b29483749f203baa,去程,2018-09-19 15:45:00,TPE 桃園機場,2018-09-19 20:40:00,SIN 新加坡機場,0,9,2018,19,TPE,9,2018,19
104218,28b446ac8e7beb73b29483749f203baa,去程,2018-09-20 02:35:00,SIN 新加坡機場,2018-09-20 08:45:00,ATH 雅典機場,0,9,2018,20,SIN,9,2018,20
104221,98e950065ef5ec0cf2a34f94dc3087bc,去程,2018-09-20 18:45:00,TPE 桃園機場,2018-09-20 20:45:00,HKG 香港機場,0,9,2018,20,TPE,9,2018,20
104222,98e950065ef5ec0cf2a34f94dc3087bc,去程,2018-09-21 01:00:00,HKG 香港機場,2018-09-21 07:55:00,TLV 特拉維夫本古里安機場,0,9,2018,21,HKG,9,2018,21
104225,7804288c15e2585e9ea72cfd5a9adc84,去程,2018-09-20 21:55:00,TPE 桃園機場,2018-09-21 05:10:00,IST 伊斯坦堡阿塔圖克機場,0,9,2018,20,TPE,9,2018,21
104227,18f15ed1c27c419dc2c075ff532efa42,去程,2018-09-21 23:35:00,TPE 桃園機場,2018-09-22 04:15:00,DXB 杜拜機場,0,9,2018,21,TPE,9,2018,22
104228,18f15ed1c27c419dc2c075ff532efa42,去程,2018-09-22 08:15:00,DXB 杜拜機場,2018-09-22 10:05:00,CAI 開羅機場,0,9,2018,22,DXB,9,2018,22
104231,2285aba9d54602f6b38bd6e7ca1da221,去程,2018-09-22 13:00:00,TPE 桃園機場,2018-09-22 15:05:00,HKG 香港機場,0,9,2018,22,TPE,9,2018,22
104232,2285aba9d54602f6b38bd6e7ca1da221,去程,2018-09-22 16:35:00,HKG 香港機場,2018-09-22 21:25:00,DXB 杜拜機場,0,9,2018,22,HKG,9,2018,22
104235,ca00da7ff2d5487a4ff16ffcdd23968e,去程,2018-09-22 23:35:00,TPE 桃園機場,2018-09-23 05:05:00,DXB 杜拜機場,0,9,2018,22,TPE,9,2018,23
104236,ca00da7ff2d5487a4ff16ffcdd23968e,去程,2018-09-23 10:50:00,DXB 杜拜機場,2018-09-23 15:00:00,ATH 雅典機場,0,9,2018,23,DXB,9,2018,23
104239,e0f0cdca3b710644751df7083ddc5282,去程,2018-09-22 23:35:00,TPE 桃園機場,2018-09-23 05:05:00,DXB 杜拜機場,0,9,2018,22,TPE,9,2018,23
104240,e0f0cdca3b710644751df7083ddc5282,去程,2018-09-23 08:15:00,DXB 杜拜機場,2018-09-23 10:05:00,CAI 開羅機場,0,9,2018,23,DXB,9,2018,23
104243,d4d9c5a3495606b0c6ca71a1cc1fa660,去程,2018-09-22 21:55:00,TPE 桃園機場,2018-09-23 05:10:00,IST 伊斯坦堡阿塔圖克機場,0,9,2018,22,TPE,9,2018,23
104244,d4d9c5a3495606b0c6ca71a1cc1fa660,去程,2018-09-23 06:35:00,IST 伊斯坦堡阿塔圖克機場,2018-09-23 07:50:00,CAI 開羅機場,0,9,2018,23,IST,9,2018,23
104247,240a4bb7acf67241893c1f4bb4340892,去程,2018-09-28 23:35:00,TPE 桃園機場,2018-09-29 04:15:00,DXB 杜拜機場,0,9,2018,28,TPE,9,2018,29
104248,240a4bb7acf67241893c1f4bb4340892,去程,2018-09-29 08:15:00,DXB 杜拜機場,2018-09-29 10:05:00,CAI 開羅機場,0,9,2018,29,DXB,9,2018,29
104251,8b3c71a80d1260a86b88c7bf48f39d1c,去程,2018-09-29 13:00:00,TPE 桃園機場,2018-09-29 15:05:00,HKG 香港機場,0,9,2018,29,TPE,9,2018,29
104252,8b3c71a80d1260a86b88c7bf48f39d1c,去程,2018-09-29 16:35:00,HKG 香港機場,2018-09-29 21:25:00,DXB 杜拜機場,0,9,2018,29,HKG,9,2018,29
104255,abec3b54681046890c502ef9de9d2bcb,去程,2018-09-29 13:00:00,TPE 桃園機場,2018-09-29 15:05:00,HKG 香港機場,0,9,2018,29,TPE,9,2018,29
104256,abec3b54681046890c502ef9de9d2bcb,去程,2018-09-29 16:35:00,HKG 香港機場,2018-09-29 21:25:00,DXB 杜拜機場,0,9,2018,29,HKG,9,2018,29
104259,3f535bb8d970dacaee325955916e4b88,去程,2018-09-30 21:50:00,TPE 桃園機場,2018-10-01 05:10:00,IST 伊斯坦堡阿塔圖克機場,0,9,2018,30,TPE,10,2018,1
104260,3f535bb8d970dacaee325955916e4b88,去程,2018-10-02 10:00:00,IST 伊斯坦堡阿塔圖克機場,2018-10-02 11:10:00,ESB 安卡拉埃森博阿機場,0,10,2018,2,IST,10,2018,2
104263,e05396a3e468b39b2c126cad5044ad6d,去程,2018-02-11 21:10:00,TPE 桃園機場,2018-02-13 00:05:00,BKK 曼谷蘇凡納布機場,0,2,2018,11,TPE,2,2018,13
104264,e05396a3e468b39b2c126cad5044ad6d,去程,2018-02-12 02:10:00,BKK 曼谷蘇凡納布機場,2018-02-12 07:00:00,TAS 塔什干機場,0,2,2018,12,BKK,2,2018,12
104267,4d33836db5978415d134e20f8861fca6,去程,2018-02-18 21:10:00,TPE 桃園機場,2018-02-20 00:05:00,BKK 曼谷蘇凡納布機場,0,2,2018,18,TPE,2,2018,20
104268,4d33836db5978415d134e20f8861fca6,去程,2018-02-19 02:10:00,BKK 曼谷蘇凡納布機場,2018-02-19 07:00:00,TAS 塔什干機場,0,2,2018,19,BKK,2,2018,19
104271,45189c5c86fb38f694e4b7ffe7be55b9,去程,2018-07-04 13:35:00,TPE 桃園機場,2018-07-04 16:20:00,BKK 曼谷蘇凡納布機場,0,7,2018,4,TPE,7,2018,4
104272,45189c5c86fb38f694e4b7ffe7be55b9,去程,2018-07-04 21:40:00,BKK 曼谷蘇凡納布機場,2018-07-05 02:30:00,TAS 塔什干機場,0,7,2018,4,BKK,7,2018,5

In [2]:
#隨機森林套件使用
#https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html
#https://chtseng.wordpress.com/2017/02/24/%E9%9A%A8%E6%A9%9F%E6%A3%AE%E6%9E%97random-forest/
#https://codertw.com/%E4%BA%BA%E5%B7%A5%E6%99%BA%E6%85%A7/8262/#outline__2
#https://medium.com/the-artificial-impostor/feature-importance-measures-for-tree-models-part-i-47f187c1a2c3

#變數選擇
#https://scikit-learn.org/stable/modules/feature_selection.html

#如何提高模型正確率
#https://blog.csdn.net/wtq1993/article/details/50542515

In [3]:
#####原始資料讀進來:group,order,trainging,testing,airfire

In [4]:
#讀取group data
import pandas as pd # 引用套件並縮寫為 pd  
import numpy as np
group = pd.read_csv('D:\dataset\data\group.csv',encoding='utf-8')  
#print(group.head)

#看其中五筆資料的概況
print(group.sample(5))

#觀察資料的概況:有哪些變數，變數的屬性，總共有幾筆資料
group.info()
group.shape

#先剔除文字變數
group2 = group.drop(['product_name', 'promotion_prog'], axis=1)
group2.info()

                               group_id          sub_line            area  \
28341                             30241  subline_value_17  area_value_111
42205  6740a9c9ab546baae37ec57727cea086  subline_value_12   area_value_93
27569                             26124  subline_value_16  area_value_109
47764  3ec7278aa9e8e28fd089ddbedadbd5f4  subline_value_18  area_value_115
46291  6a7b42cbb583327776d80f9397c3e6f3  subline_value_11  area_value_100

       days begin_date    price  \
28341   5.0  11-Jul-17  29800.0
42205   4.0  15-Feb-18  26888.0
27569   6.0  21-Feb-17  29800.0
47764   5.0   7-Jul-18  23800.0
46291   6.0   1-May-18  29800.0

                                            product_name  \
28341  《FUN暑假》野生動物園、獅子餐廳下午茶、衝浪樂園、叢林探險世界一日遊、親子SPA、巴里島5...
42205  【2/15.2/16.2/17春節特賣】全程住首爾市區飯店．１站購物．南怡島．小法國村．樂天...
27569       《雄好玩系列》黃金海岸天堂鄉牧場、電影世界、酒莊、合照萌萌無尾熊、海港城購物商場超值６日
47764   《小資最愛》特選馬新～大紅花VILLA‧體驗熱氣球‧SKYTOWER‧英式下午茶‧探索馬六甲5日
46291           關西遊樂~和歌山電車.白鶴酒造資料館.梅花鹿公園.環球影城6日(台南出發高雄回)

                                          promotion_prog
28341  &lt;font color="FF00FF"&gt;&lt;BIG&gt;&lt;BIG&...
42205  【2/15.2/16.2/17春節特賣】全程住首爾市區飯店．１站購物．南怡島．小法國村．樂天...
27569  &lt;div class="div880" align="center"&gt;&lt;i...
47764  &lt;B&gt;暑假超低價入住大紅花！&lt;B&gt;～享優惠[RR]$21,800含稅...
46291  &lt;BIG&gt;&lt;B&gt;[BB]★好康再加碼：限量優惠～[RR]前１５名[/...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49223 entries, 0 to 49222
Data columns (total 8 columns):
group_id          49223 non-null object
sub_line          49223 non-null object
area              49223 non-null object
days              49223 non-null float64
begin_date        49223 non-null object
price             49223 non-null float64
product_name      49218 non-null object
promotion_prog    49167 non-null object
dtypes: float64(2), object(6)
memory usage: 3.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49223 entries, 0 to 49222
Data columns (total 6 columns):
group_id      49223 non-null object
sub_line      49223 non-null object
area          49223 non-null object
days          49223 non-null float64
begin_date    49223 non-null object
price         49223 non-null float64
dtypes: float64(2), object(4)
memory usage: 2.3+ MB

In [5]:
#####讀取order data
order = pd.read_csv('D:\dataset\data\order.csv',encoding='utf-8')
print(order.sample(5))
print('')
print('')
order.info()

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       order_id group_id order_date      source_1      source_2  \
116622   219374    38511   7-Nov-16  src1_value_1  src2_value_1
154860    90492    63252  23-Apr-17  src1_value_1  src2_value_1
88636    174094     8382   4-Nov-16  src1_value_1  src2_value_1
147964   104976    65573   3-Dec-16  src1_value_1  src2_value_1
89627    297084    26476  14-Dec-16  src1_value_1  src2_value_1

                 unit  people_amount
116622  unit_value_12              8
154860  unit_value_81              2
88636   unit_value_20              4
147964  unit_value_36              1
89627   unit_value_18             15


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396915 entries, 0 to 396914
Data columns (total 7 columns):
order_id         396915 non-null object
group_id         396915 non-null object
order_date       396915 non-null object
source_1         396915 non-null object
source_2         396915 non-null object
unit             396915 non-null object
people_amount    396915 non-null int64
dtypes: int64(1), object(6)
memory usage: 21.2+ MB

In [55]:
#####讀取airline資料
airline = pd.read_csv('D:\\dataset\\data\\airline.csv',encoding = 'utf-8')
airline.info()

airline.sample(5)

airline.describe()


###變數轉換
#1.group_id
#2.go back : 兩種可能性，轉成0或1
def recode_go_back(value):
    if value == "去程":
        return 0
    elif value == "回程":
        return 1
    
airline['go_back_recode'] = airline['go_back'].apply(recode_go_back).astype('category')


#3.fly time : 轉成日期格式

def get_year(value):
    return value.year

def get_month(value):
    return value.month
    
def get_day(value):
    return value.day

airline['fly_time'] = pd.to_datetime(airline['fly_time'])
airline['fly_month'] = airline['fly_time'].apply(get_month).astype('category')
airline['fly_year'] = airline['fly_time'].apply(get_year).astype('category')
airline['fly_day'] = airline['fly_time'].apply(get_day).astype('category')


#4.src_airport : 轉成204個類別
def get_airport(value):
    return value[0:3]

airline['src_airport_recode'] = airline['src_airport'].apply(get_airport).astype('category')


#5.arrive time :轉成日期格式
airline['arrive_time'] = pd.to_datetime(airline['arrive_time'])
airline['arrive_month'] = airline['arrive_time'].apply(get_month).astype('category')
airline['arrive_year'] = airline['arrive_time'].apply(get_year).astype('category')
airline['arrive_day'] = airline['arrive_time'].apply(get_day).astype('category')

airline.info()


#6.dst airport : 
airline['dst_airport_recode'] = airline['dst_airport'].apply(get_airport).astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104275 entries, 0 to 104274
Data columns (total 6 columns):
group_id       104275 non-null object
go_back        104275 non-null object
fly_time       104275 non-null object
src_airport    104275 non-null object
arrive_time    104275 non-null object
dst_airport    104275 non-null object
dtypes: object(6)
memory usage: 4.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104275 entries, 0 to 104274
Data columns (total 14 columns):
group_id              104275 non-null object
go_back               104275 non-null object
fly_time              104275 non-null datetime64[ns]
src_airport           104275 non-null object
arrive_time           104275 non-null datetime64[ns]
dst_airport           104275 non-null object
go_back_recode        104275 non-null category
fly_month             104275 non-null category
fly_year              104275 non-null category
fly_day               104275 non-null category
src_airport_recode    104275 non-null category
arrive_month          104275 non-null category
arrive_year           104275 non-null category
arrive_day            104275 non-null category
dtypes: category(8), datetime64[ns](2), object(4)
memory usage: 5.7+ MB

In [6]:
#讀取training dataset & testing data
training = pd.read_csv('D:\\dataset\\data\\training-set.csv',encoding = 'utf-8')
training.info()
print(training.sample(5))
print('')

testing = pd.read_csv('D:\\dataset\\data\\testing-set.csv',encoding = 'utf-8')
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297020 entries, 0 to 297019
Data columns (total 2 columns):
order_id       297020 non-null int64
deal_or_not    297020 non-null int64
dtypes: int64(2)
memory usage: 4.5 MB
        order_id  deal_or_not
17561     332063            0
11553     221193            0
260445    138166            0
88920     314447            0
206273     61242            1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99895 entries, 0 to 99894
Data columns (total 2 columns):
order_id       99895 non-null object
deal_or_not    99895 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ MB

In [7]:
#####利用合併做出建模資料

In [106]:
#利用group_id將group和order資料做合併
feature_data = pd.merge(group2,order , on='group_id')
feature_data.info()

#只篩選出去程，這樣就可以看每筆資料的出發機場與到達機場，而且也不會有資料合併(多對多的問題)
airline_go = airline[airline['go_back']=="去程"]

feature_data2 = pd.merge(airline_go,feature_data,on = 'group_id')

feature_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134771 entries, 0 to 134770
Data columns (total 12 columns):
group_id         134771 non-null object
sub_line         134771 non-null object
area             134771 non-null object
days             134771 non-null float64
begin_date       134771 non-null object
price            134771 non-null float64
order_id         134771 non-null object
order_date       134771 non-null object
source_1         134771 non-null object
source_2         134771 non-null object
unit             134771 non-null object
people_amount    134771 non-null int64
dtypes: float64(2), int64(1), object(9)
memory usage: 13.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 157286 entries, 0 to 157285
Data columns (total 25 columns):
group_id              157286 non-null object
go_back               157286 non-null object
fly_time              157286 non-null datetime64[ns]
src_airport           157286 non-null object
arrive_time           157286 non-null datetime64[ns]
dst_airport           157286 non-null object
go_back_recode        157286 non-null category
fly_month             157286 non-null category
fly_year              157286 non-null category
fly_day               157286 non-null category
src_airport_recode    157286 non-null category
arrive_month          157286 non-null category
arrive_year           157286 non-null category
arrive_day            157286 non-null category
sub_line              157286 non-null object
area                  157286 non-null object
days                  157286 non-null float64
begin_date            157286 non-null object
price                 157286 non-null float64
order_id              157286 non-null object
order_date            157286 non-null object
source_1              157286 non-null object
source_2              157286 non-null object
unit                  157286 non-null object
people_amount         157286 non-null int64
dtypes: category(8), datetime64[ns](2), float64(2), int64(1), object(12)
memory usage: 23.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104275 entries, 0 to 104274
Data columns (total 14 columns):
group_id              104275 non-null object
go_back               104275 non-null object
fly_time              104275 non-null datetime64[ns]
src_airport           104275 non-null object
arrive_time           104275 non-null datetime64[ns]
dst_airport           104275 non-null object
go_back_recode        104275 non-null category
fly_month             104275 non-null category
fly_year              104275 non-null category
fly_day               104275 non-null category
src_airport_recode    104275 non-null category
arrive_month          104275 non-null category
arrive_year           104275 non-null category
arrive_day            104275 non-null category
dtypes: category(8), datetime64[ns](2), object(4)
memory usage: 5.7+ MB

In [9]:
#####變數類型改變(特徵工程)#####
#1.更改變數類型
#2.數值離散化
#3.類別變數數值化

In [19]:
#begin_date/order_date:日期變數
#group_id,sub_line,area,source1,source2,unit:類別變數
#須改為類別變數:order_id,deal or not
#days,price,people_amount:數值變數


#turn begin_date and order_date to date format

feature_data['begin_date'] = pd.to_datetime(feature_data['begin_date'])
feature_data['order_date'] = pd.to_datetime(feature_data['order_date'])

###看變數的描述性統計
#print('category vars')
#print(feature_data[['group_id','sub_line','area','begin_date','order_date','order_id','source_1','source_2','unit','deal_or_not']].describe())

#print('')
#print('continuous vars')
#print(feature_data.describe())



###類別變數的recoding

##source_1的recoding
#原本變數的類別，每個類別各有幾次
#feature_df['source_1'].value_counts()


def recode_source_1(value):
    if value == "src1_value_1":
        return 1
    elif value == "src1_value_2":
        return 2
    elif value == "src1_value_3" :
        return 3

feature_data['source_1_recode'] = feature_data['source_1'].apply(recode_source_1)

#看recode後的source_1是不是OK
#feature_data['source_1_recode'].value_counts(sort=False)

##source_2的recoding

#feature_data['source_2'].value_counts()

#
def recode_source_2(value):
    if value == "src2_value_1":
        return 1
    elif value == "src2_value_2":
        return 2
    elif value == "src2_value_3":
        return 3
    elif value == "src2_value_4":
        return 4

feature_data['source_2_recode'] = feature_data['source_2'].apply(recode_source_2)
#feature_data['source_2_recode'].value_counts(sort = False)



##sub_line的recoding:抓取_後面的數字當recode的值
def recode_subline(value):
    data = value.split('_')[2]
    return data
    
    
    

feature_data['subline_recode'] = feature_data['sub_line'].apply(recode_subline)
#print(feature_data['subline_recode'].value_counts(sort= True))
#print(feature_data['sub_line'].value_counts(sort= True))




##area的recoding
def recode_area(value):
    data = value.split('_')[2]
    return data
    
feature_data['area_recode'] = feature_data['area'].apply(recode_area)


##unit的recoding
def recode_unit(value):
    data = value.split('_')[2]
    return data

feature_data['unit_recode'] = feature_data['unit'].apply(recode_unit)

##order_date的recoding

def get_year(value):
    return value.year

def get_month(value):
    return value.month
    
def get_day(value):
    return value.day
    
feature_data['order_month'] = feature_data['order_date'].apply(get_month)
feature_data['order_year']  = feature_data['order_date'].apply(get_year)
feature_data['order_day'] = feature_data['order_date'].apply(get_day)

##begin_date的recoding
    
feature_data['begin_month'] = feature_data['begin_date'].apply(get_month)
feature_data['begin_year']  = feature_data['begin_date'].apply(get_year)
feature_data['begin_day'] = feature_data['begin_date'].apply(get_day)






#更改變數類別
feature_data['order_id'] = feature_data['order_id'].astype('category') 
feature_data['subline_recode'] = feature_data['subline_recode'].astype('category')
feature_data['source_1_recode'] = feature_data['source_1_recode'].astype('category')
feature_data['source_2_recode'] = feature_data['source_2_recode'].astype('category')
feature_data['area_recode'] = feature_data['area_recode'].astype('category')
feature_data['unit_recode'] = feature_data['unit_recode'].astype('category')
feature_data['order_month'] = feature_data['order_month'].astype('category')
feature_data['order_year'] = feature_data['order_year'].astype('category')
feature_data['order_day'] = feature_data['order_day'].astype('category')
feature_data['begin_month'] = feature_data['begin_month'].astype('category')
feature_data['begin_year'] = feature_data['begin_year'].astype('category')
feature_data['begin_day'] = feature_data['begin_day'].astype('category')


feature_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134771 entries, 0 to 134770
Data columns (total 26 columns):
group_id           134771 non-null object
sub_line           134771 non-null object
area               134771 non-null object
days               134771 non-null float64
begin_date         134771 non-null datetime64[ns]
price              134771 non-null float64
order_id           134771 non-null category
order_date         134771 non-null datetime64[ns]
source_1           134771 non-null object
source_2           134771 non-null object
unit               134771 non-null object
people_amount      134771 non-null int64
source_1_recode    134771 non-null category
source_2_recode    134771 non-null category
subline_recode     134771 non-null category
area_recode        134771 non-null category
unit_recode        134771 non-null category
o_month            134771 non-null category
o_year             134771 non-null category
o_day              134771 non-null category
order_month        134771 non-null category
order_year         134771 non-null category
order_day          134771 non-null category
begin_month        134771 non-null category
begin_year         134771 non-null category
begin_day          134771 non-null category
dtypes: category(15), datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 20.8+ MB

In [11]:
#####依據order_id是否是數值將資料切割成訓練集與測試集資料

In [20]:
#只留下order_id是純數值的資料
num_result = [order for order in feature_data['order_id'] if order.isnumeric() == True]
notnum_result = [order for order in feature_data['order_id'] if order.isnumeric() == False]

#製造一個 true 和 false 的表格，進而去篩選feature_df的order_id資料
num_result_deci = [order.isnumeric() for order in feature_data['order_id']]
order_num_feature = feature_data[num_result_deci]
print('')
order_num_feature.info()
#print(order_num_feature)

#將order_id轉為int
order_num_feature['order_id']  = order_num_feature['order_id'].astype('int64')
order_num_feature.info()
#print(order_num_feature)

#將order_num_feature和training 做合併
modeling_data = pd.merge(order_num_feature,training , on='order_id')
modeling_data.info()
print('')
print(modeling_data.sample(5))

#將deal_or_not轉為類別型變數
modeling_data['deal_or_not'] = modeling_data['deal_or_not'].astype('category')
modeling_data.info()

#將list輸出到csv
#np.savetxt("D:\\dataset\\data\\num_result.csv",num_result, delimiter=",", fmt='%s')



#將兩個list合併起來
#new_orderid = num_result+notnum_result

#series轉換為list
#old_orderid = feature_df['order_id'].tolist()


#比較兩個list的差異在哪
#list(set(old_orderid) - set(new_orderid))


#利用order_id將訓練集資料與特徵資料做合併
#training_df = pd.merge(feature_df,training, on = 'order_id')
#training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34876 entries, 0 to 34875
Data columns (total 26 columns):
group_id           34876 non-null object
sub_line           34876 non-null object
area               34876 non-null object
days               34876 non-null float64
begin_date         34876 non-null datetime64[ns]
price              34876 non-null float64
order_id           34876 non-null category
order_date         34876 non-null datetime64[ns]
source_1           34876 non-null object
source_2           34876 non-null object
unit               34876 non-null object
people_amount      34876 non-null int64
source_1_recode    34876 non-null category
source_2_recode    34876 non-null category
subline_recode     34876 non-null category
area_recode        34876 non-null category
unit_recode        34876 non-null category
o_month            34876 non-null category
o_year             34876 non-null category
o_day              34876 non-null category
order_month        34876 non-null category
order_year         34876 non-null category
order_day          34876 non-null category
begin_month        34876 non-null category
begin_year         34876 non-null category
begin_day          34876 non-null category
dtypes: category(15), datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 9.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34876 entries, 0 to 34875
Data columns (total 26 columns):
group_id           34876 non-null object
sub_line           34876 non-null object
area               34876 non-null object
days               34876 non-null float64
begin_date         34876 non-null datetime64[ns]
price              34876 non-null float64
order_id           34876 non-null int64
order_date         34876 non-null datetime64[ns]
source_1           34876 non-null object
source_2           34876 non-null object
unit               34876 non-null object
people_amount      34876 non-null int64
source_1_recode    34876 non-null category
source_2_recode    34876 non-null category
subline_recode     34876 non-null category
area_recode        34876 non-null category
unit_recode        34876 non-null category
o_month            34876 non-null category
o_year             34876 non-null category
o_day              34876 non-null category
order_month        34876 non-null category
order_year         34876 non-null category
order_day          34876 non-null category
begin_month        34876 non-null category
begin_year         34876 non-null category
begin_day          34876 non-null category
dtypes: category(14), datetime64[ns](2), float64(2), int64(2), object(6)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34876 entries, 0 to 34875
Data columns (total 27 columns):
group_id           34876 non-null object
sub_line           34876 non-null object
area               34876 non-null object
days               34876 non-null float64
begin_date         34876 non-null datetime64[ns]
price              34876 non-null float64
order_id           34876 non-null int64
order_date         34876 non-null datetime64[ns]
source_1           34876 non-null object
source_2           34876 non-null object
unit               34876 non-null object
people_amount      34876 non-null int64
source_1_recode    34876 non-null category
source_2_recode    34876 non-null category
subline_recode     34876 non-null category
area_recode        34876 non-null category
unit_recode        34876 non-null category
o_month            34876 non-null category
o_year             34876 non-null category
o_day              34876 non-null category
order_month        34876 non-null category
order_year         34876 non-null category
order_day          34876 non-null category
begin_month        34876 non-null category
begin_year         34876 non-null category
begin_day          34876 non-null category
deal_or_not        34876 non-null int64
dtypes: category(14), datetime64[ns](2), float64(2), int64(3), object(6)
memory usage: 4.2+ MB

      group_id          sub_line            area  days begin_date    price  \
30254    20220  subline_value_22  area_value_132  11.0 2017-12-08  39900.0
3867     65221  subline_value_19  area_value_116   5.0 2017-08-19  25900.0
21944    37357  subline_value_22  area_value_132  11.0 2017-03-27  59900.0
22213    52956  subline_value_22  area_value_132   9.0 2017-03-29  34900.0
29169     2446  subline_value_20  area_value_133  10.0 2017-09-13  64900.0

       order_id order_date      source_1      source_2     ...     o_month  \
30254     58666 2017-09-06  src1_value_1  src2_value_1     ...           9
3867      79851 2017-07-30  src1_value_2  src2_value_3     ...           7
21944    132383 2016-12-29  src1_value_2  src2_value_1     ...          12
22213    279362 2017-02-10  src1_value_2  src2_value_3     ...           2
29169     86052 2017-07-20  src1_value_1  src2_value_1     ...           7

       o_year o_day order_month order_year order_day begin_month begin_year  \
30254    2017     6           9       2017         6          12       2017
3867     2017    30           7       2017        30           8       2017
21944    2016    29          12       2016        29           3       2017
22213    2017    10           2       2017        10           3       2017
29169    2017    20           7       2017        20           9       2017

      begin_day deal_or_not
30254         8           0
3867         19           0
21944        27           0
22213        29           0
29169        13           0

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34876 entries, 0 to 34875
Data columns (total 27 columns):
group_id           34876 non-null object
sub_line           34876 non-null object
area               34876 non-null object
days               34876 non-null float64
begin_date         34876 non-null datetime64[ns]
price              34876 non-null float64
order_id           34876 non-null int64
order_date         34876 non-null datetime64[ns]
source_1           34876 non-null object
source_2           34876 non-null object
unit               34876 non-null object
people_amount      34876 non-null int64
source_1_recode    34876 non-null category
source_2_recode    34876 non-null category
subline_recode     34876 non-null category
area_recode        34876 non-null category
unit_recode        34876 non-null category
o_month            34876 non-null category
o_year             34876 non-null category
o_day              34876 non-null category
order_month        34876 non-null category
order_year         34876 non-null category
order_day          34876 non-null category
begin_month        34876 non-null category
begin_year         34876 non-null category
begin_day          34876 non-null category
deal_or_not        34876 non-null category
dtypes: category(15), datetime64[ns](2), float64(2), int64(2), object(6)
memory usage: 4.0+ MB

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [13]:
#####變數重要性判定
import matplotlib.pyplot as plt


%matplotlib inline
#plt.plot([1,2,3],[1,23,5])

#列連表
crosstab = pd.crosstab(modeling_data['source_1_recode'],modeling_data['deal_or_not'],margins = True)
print(crosstab)

print('')

per_crosstab = pd.crosstab(modeling_data['source_1_recode'],modeling_data['deal_or_not']).apply(lambda r:r/r.sum(),axis = 1)
print(per_crosstab)
#insight:source3的成功率最高，但他的筆數是最少的，source1相反，筆數最多，但成交成功率最低。



#卡方檢定:看source_1對deal_or_not的影響力
import numpy as np
from scipy.stats import chi2_contingency

#d = np.array([modeling_data['source_1_recode'], modeling_data['deal_or_not']])
#chi2_contingency(d)


feature_data.info()

deal_or_not          0     1    All
source_1_recode
1                18723  3896  22619
2                 9132  2360  11492
3                  519   246    765
All              28374  6502  34876

deal_or_not             0         1
source_1_recode
1                0.827755  0.172245
2                0.794640  0.205360
3                0.678431  0.321569
<class 'pandas.core.frame.DataFrame'>
Int64Index: 134771 entries, 0 to 134770
Data columns (total 20 columns):
group_id           134771 non-null object
sub_line           134771 non-null object
area               134771 non-null object
days               134771 non-null float64
begin_date         134771 non-null datetime64[ns]
price              134771 non-null float64
order_id           134771 non-null category
order_date         134771 non-null datetime64[ns]
source_1           134771 non-null object
source_2           134771 non-null object
unit               134771 non-null object
people_amount      134771 non-null int64
source_1_recode    134771 non-null category
source_2_recode    134771 non-null category
subline_recode     134771 non-null category
area_recode        134771 non-null category
unit_recode        134771 non-null category
o_month            134771 non-null category
o_year             134771 non-null category
o_day              134771 non-null category
dtypes: category(9), datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 20.1+ MB

In [21]:
#####建立隨機森林的預測模型

from sklearn import cross_validation, ensemble, preprocessing, metrics

# 創造 dummy variables
#label_encoder = preprocessing.LabelEncoder()
#encoded_Sex = label_encoder.fit_transform(titanic_train["Sex"])

# 建立訓練與測試資料
train_X = pd.DataFrame([modeling_data["people_amount"],
                        modeling_data["days"],
                        modeling_data["price"],
                        modeling_data["subline_recode"],
                        modeling_data["source_1_recode"],
                        modeling_data["source_2_recode"],
                        modeling_data["area_recode"],
                        modeling_data["unit_recode"],
                        modeling_data["order_month"],
                        modeling_data["order_year"],
                        modeling_data["order_day"],
                        modeling_data["begin_month"],
                        modeling_data["begin_year"],
                        modeling_data["begin_day"]]).T

train_y = modeling_data["deal_or_not"]


train_X, test_X, train_y, test_y = cross_validation.train_test_split(train_X, train_y, test_size = 0.2)
print(train_X)
print(train_y)

# 建立 random forest 模型
forest = ensemble.RandomForestClassifier(n_estimators = 100)
forest_fit = forest.fit(train_X, train_y)



# 預測
test_y_predicted = forest.predict(test_X)

# y是"數值型"績效
#accuracy = metrics.accuracy_score(test_y, test_y_predicted)
#print(accuracy)

# y是"類別型"績效
fpr, tpr, thresholds = metrics.roc_curve(test_y, test_y_predicted)
auc = metrics.auc(fpr, tpr)
print(auc)

      people_amount days  price subline_recode source_1_recode  \
31015             3   10  32900             22               2
33721             2   10  87900             22               2
12520             2    6  18900             19               2
13295             2    5  17500             15               1
19792             1   11  39900             22               1
13350             2    5  22900             15               1
30920             2   11  39900             22               1
22861             2   10  49900             20               2
26129             2   10  69900             10               1
27972             2   10  84900             22               1
16918             1    8  39900             21               1
28298             4   10  38900             22               2
19060             4   10  31900             22               1
117               2    6  30800             18               2
13557             2    5  14900             15               2
12997             2    5  23000             19               1
25029             2   10  52900             20               1
21276             2   11  39900             22               1
22370             2   10  74900             22               1
31094             1   10  36900             22               2
32307             2   10  33900             22               1
24948             1    7  79900             22               2
158               4    6  21900             18               2
16279             3    8  39900             21               2
25081             2   10  42900             22               2
5374              4    5  31100             18               1
11981             1    6   9999             19               1
26254             4    8  63900             22               2
11910             2    5  24500             19               1
11151             4    6  19900             19               2
...             ...  ...    ...            ...             ...
4937              5    5  27900             18               1
27636             2   10  51900             20               1
24982             1   11  38900             22               1
32249             2   11  39900             22               2
21173             4    7  69900             22               1
7999              2    5  23000             19               1
5004              4    5  28900             18               2
14872             3   10  99800             20               1
30642             1    9  31900             22               1
21966             2   10  53900             20               1
2299              4    5  13999             18               2
32367             2   10  46900             22               1
3002              2    5  19999             18               1
15262             2    6  52900             21               1
24696             1   10  40900             22               1
7138              3    6  13999             19               2
30982             2   10  59900             20               1
22566             2   10  39900             22               2
6027              2    6  20999             19               1
31612             4   10  84900             20               1
11913             2    5  24500             19               1
4646              2    4  19900             18               1
10239             7    5  22999             19               1
15790             2    9  52900             21               2
3823              1    5  25900             19               1
26588             1   10  69900             20               2
31472            31    9  31900             22               2
28166             2   10  39900             22               2
5074              1    5  28900             18               2
7353              2    5  21999             19               1

      source_2_recode area_recode unit_recode order_month order_year  \
31015               1         132          22           6       2017
33721               3         135           3           5       2017
12520               3         118           6           9       2017
13295               1         120          16          12       2016
19792               1         132          24           1       2017
13350               1         120          68           1       2017
30920               1         132          39           9       2017
22861               3         133           6           2       2017
26129               1         137           1           4       2017
27972               1         135          43           6       2017
16918               1         126          49           4       2017
28298               1         132           6           7       2017
19060               1         132           3          12       2016
117                 3         115           6           6       2017
13557               3         120           6           3       2017
12997               4         118           1           7       2017
25029               4         133           1           4       2017
21276               1         132          92           2       2017
22370               1         135           1           2       2017
31094               3         132           3          11       2017
32307               1         132          95           6       2017
24948               1         134          77           5       2017
158                 3         114          16           5       2017
16279               1         126           6           4       2017
25081               1         132           6           2       2017
5374                1         117          72           9       2017
11981               1         118          22          11       2017
26254               3         134           6           5       2017
11910               1         118           3          10       2017
11151               1         118           8          11       2017
...               ...         ...         ...         ...        ...
4937                4         117           1           5       2017
27636               1         133           1           6       2017
24982               4         132           1           3       2017
32249               3         132          16           8       2017
21173               1         134          45           2       2017
7999                1         118         107           5       2017
5004                3         117           3           6       2017
14872               1         122           1           2       2017
30642               1         132          21           9       2017
21966               1         133           3           3       2017
2299                3         115           8          10       2017
32367               4         132          16           9       2017
3002                4         114          16           7       2017
15262               1         126          16          11       2016
24696               1         132          11           3       2017
7138                3         118          16           3       2017
30982               1         133           1          11       2017
22566               3         132           6           3       2017
6027                1         118          90           1       2017
31612               1         133          17           7       2017
11913               1         118          41           9       2017
4646                1         117           7           3       2017
10239               1         118          83           4       2017
15790               3         128           8          12       2016
3823                1         116          61           5       2017
26588               1         133          77           6       2017
31472               3         132           6           7       2017
28166               3         132           6           7       2017
5074                3         117           3           6       2017
7353                1         118          46           4       2017

      order_day begin_month begin_year begin_day
31015        12          12       2017        24
33721        19          10       2017         5
12520        10          10       2017         7
13295        27           2       2017        15
19792         9           2       2017        20
13350        31           2       2017        19
30920        29          12       2017        22
22861        15           4       2017        12
26129         6           6       2017        23
27972        28           8       2017        13
16918        29           9       2017        26
28298        12           8       2017        21
19060         6           2       2017         3
117          27           7       2017        15
13557         3           3       2017        29
12997        31          10       2017        27
25029        17           5       2017        27
21276         2           3       2017        17
22370         5           3       2017        31
31094        23          12       2017        26
32307        13          11       2017        12
24948        23           5       2017        26
158          31           7       2017        16
16279        14           5       2017         7
25081        20           5       2017        27
5374          5          10       2017         7
11981        12          11       2017        23
26254        26           6       2017        26
11910         5          11       2017        20
11151        23          12       2017        13
...         ...         ...        ...       ...
4937          7           7       2017        11
27636        13           8       2017         2
24982        25           5       2017        27
32249         4          11       2017        11
21173        17           3       2017        17
7999         26           5       2017        31
5004         16           7       2017        29
14872         2           4       2017        24
30642        13          12       2017        15
21966        13           3       2017        28
2299         24          12       2017        26
32367         9          11       2017        14
3002          4          10       2017         6
15262        18           1       2017        26
24696         2           5       2017        20
7138         29           4       2017        20
30982        17          12       2017        22
22566         8           4       2017         3
6027         19           2       2017         2
31612        21          11       2017         1
11913         5          11       2017        20
4646         17           4       2017        29
10239        26           8       2017        25
15790        30           2       2017        25
3823          1           8       2017         1
26588        21           7       2017         5
31472         3          12       2017        29
28166        13           8       2017        17
5074         27           8       2017        12
7353         16           5       2017         3

[27900 rows x 14 columns]
31015    0
33721    0
12520    0
13295    1
19792    0
13350    0
30920    0
22861    0
26129    0
27972    0
16918    0
28298    1
19060    0
117      0
13557    0
12997    0
25029    1
21276    0
22370    0
31094    1
32307    0
24948    1
158      0
16279    0
25081    0
5374     0
11981    0
26254    0
11910    1
11151    0
        ..
4937     0
27636    0
24982    1
32249    0
21173    0
7999     0
5004     0
14872    0
30642    0
21966    0
2299     0
32367    1
3002     1
15262    0
24696    0
7138     1
30982    0
22566    0
6027     0
31612    0
11913    0
4646     0
10239    0
15790    0
3823     0
26588    1
31472    1
28166    0
5074     0
7353     0
Name: deal_or_not, Length: 27900, dtype: category
Categories (2, int64): [0, 1]

0.5611362550749008

In [22]:
#####利用隨機森林看變數重要性

print(forest_fit.feature_importances_)

[0.08933658 0.03215553 0.11338842 0.01789236 0.02773215 0.02436158
 0.0277363  0.20153336 0.08124531 0.00481982 0.18105505 0.07023829
 0.         0.12850527]

In [23]:
#####testing_data


#製造一個 true 和 false 的表格，進而去篩選feature_df的order_id資料
num_result = [order.isnumeric() for order in feature_data['order_id']]

#將true false 顛倒
import operator
not_num_bool = list(map(operator.not_, num_result))


order_not_num_feature = feature_data[not_num_bool]
print('')
order_not_num_feature.info()

testing_data = order_not_num_feature

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99895 entries, 34876 to 134770
Data columns (total 26 columns):
group_id           99895 non-null object
sub_line           99895 non-null object
area               99895 non-null object
days               99895 non-null float64
begin_date         99895 non-null datetime64[ns]
price              99895 non-null float64
order_id           99895 non-null category
order_date         99895 non-null datetime64[ns]
source_1           99895 non-null object
source_2           99895 non-null object
unit               99895 non-null object
people_amount      99895 non-null int64
source_1_recode    99895 non-null category
source_2_recode    99895 non-null category
subline_recode     99895 non-null category
area_recode        99895 non-null category
unit_recode        99895 non-null category
o_month            99895 non-null category
o_year             99895 non-null category
o_day              99895 non-null category
order_month        99895 non-null category
order_year         99895 non-null category
order_day          99895 non-null category
begin_month        99895 non-null category
begin_year         99895 non-null category
begin_day          99895 non-null category
dtypes: category(15), datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 17.0+ MB

In [24]:
#####testing_data的特徵工程
#testing_data['price_std'] = (testing_data['price'] - testing_data['price'].mean())/(testing_data['price'].std())

In [25]:
#利用隨機森林模型去預測testing-set

testing_X = pd.DataFrame([testing_data["subline_recode"],
                          testing_data["source_1_recode"],
                          testing_data["source_2_recode"],
                          testing_data["days"],
                          testing_data["price"],
                         testing_data["people_amount"],
                         testing_data["area_recode"],
                         testing_data["unit_recode"],
                         testing_data["order_month"],
                         testing_data["order_year"],
                         testing_data["order_day"],
                         testing_data["begin_month"],
                         testing_data["begin_year"],
                         testing_data["begin_day"]]).T
                        
                        
#預測testing-set的deal_or_not
test_y_predicted = forest.predict(testing_X)
print(len(test_y_predicted))
# 返回预测标签
print(len(forest_fit.predict(testing_X)))
cate = forest_fit.predict(testing_X)


# 返回预测属于某标签的概率
print(len(forest_fit.predict_proba(testing_X)))
cate_prob = forest_fit.predict_proba(testing_X)

#df.to_csv('D:\\數據分析師\\df.csv',encoding = 'big5')


prob_result = [prob[1] for prob in cate_prob]

#把order_id和預測機率輸出成csv檔
np.savetxt("D:\\dataset\\data\\testing-set_result.csv",prob_result, delimiter=",", fmt='%s')

99895
99895
99895